In [1]:
import pandas as pd
import numpy as np

In [2]:
df_2018 = pd.read_csv('resources/2018_CitiBike_data.csv')
df_2018.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,196,2018-01-01 00:01:51,2018-01-01 00:05:07,315,South St & Gouverneur Ln,40.703554,-74.006702,259,South St & Whitehall St,40.701221,-74.012342,18534,Subscriber,1997.0,1
1,207,2018-01-01 00:02:44,2018-01-01 00:06:11,3224,W 13 St & Hudson St,40.739974,-74.005139,470,W 20 St & 8 Ave,40.743453,-74.000040,19651,Subscriber,1978.0,1
2,613,2018-01-01 00:03:15,2018-01-01 00:13:28,386,Centre St & Worth St,40.714948,-74.002345,2008,Little West St & 1 Pl,40.705693,-74.016777,21678,Subscriber,1982.0,1
3,375,2018-01-01 00:06:44,2018-01-01 00:12:59,466,W 25 St & 6 Ave,40.743954,-73.991449,325,E 19 St & 3 Ave,40.736245,-73.984738,29822,Subscriber,1982.0,1
4,402,2018-01-01 00:06:57,2018-01-01 00:13:40,438,St Marks Pl & 1 Ave,40.727791,-73.985649,380,W 4 St & 7 Ave S,40.734011,-74.002939,30722,Subscriber,1989.0,1
5,326,2018-01-01 00:12:31,2018-01-01 00:17:58,453,W 22 St & 8 Ave,40.744751,-73.999154,3258,W 27 St & 10 Ave,40.750182,-74.002184,30447,Subscriber,1963.0,1
6,136,2018-01-01 00:13:35,2018-01-01 00:15:52,3092,Berry St & N 8 St,40.719009,-73.958525,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,32904,Subscriber,1998.0,1
7,101,2018-01-01 00:13:47,2018-01-01 00:15:29,3534,Frederick Douglass Blvd & W 117 St,40.805159,-73.954692,3534,Frederick Douglass Blvd & W 117 St,40.805159,-73.954692,32796,Subscriber,1988.0,1
8,475,2018-01-01 00:13:51,2018-01-01 00:21:46,336,Sullivan St & Washington Sq,40.730477,-73.999061,237,E 11 St & 2 Ave,40.730473,-73.986724,16628,Subscriber,1968.0,2
9,311,2018-01-01 00:14:57,2018-01-01 00:20:09,319,Fulton St & Broadway,40.711066,-74.009447,249,Harrison St & Hudson St,40.718710,-74.009001,30143,Subscriber,1999.0,1

In [3]:
newdf2018 = df_2018.drop(['start station longitude', 'start station latitude', 'end station longitude', 'end station latitude'], axis=1)
newdf2018.rename(columns={'tripduration': 'Trip_Duration'}, inplace=True)
newdf2018.rename(columns={'starttime': 'Start_Time'}, inplace=True)
newdf2018.rename(columns={'stoptime': 'Stop_Time'}, inplace=True)
newdf2018.rename(columns={'bikeid': 'Bike_ID'}, inplace=True)
newdf2018.rename(columns={'usertype': 'User_Type'}, inplace=True)
newdf2018.rename(columns={'birth year': 'Birth_Year'}, inplace=True)
newdf2018.rename(columns={'gender': 'Gender'}, inplace=True)
newdf2018.rename(columns={'start station name': 'Start_Station_Name'}, inplace=True)
newdf2018.rename(columns={'end station name': 'End_Station_Name'}, inplace=True)
newdf2018.rename(columns={'start station id': 'Start_Station_ID'}, inplace=True)
newdf2018.rename(columns={'end station id': 'Start_Station_ID'}, inplace=True)
newdf2018.head(10)

,Trip_Duration,Start_Time,Stop_Time,Start_Station_ID,Start_Station_Name,Start_Station_ID,End_Station_Name,Bike_ID,User_Type,Birth_Year,Gender
0,196,2018-01-01 00:01:51,2018-01-01 00:05:07,315,South St & Gouverneur Ln,259,South St & Whitehall St,18534,Subscriber,1997.0,1
1,207,2018-01-01 00:02:44,2018-01-01 00:06:11,3224,W 13 St & Hudson St,470,W 20 St & 8 Ave,19651,Subscriber,1978.0,1
2,613,2018-01-01 00:03:15,2018-01-01 00:13:28,386,Centre St & Worth St,2008,Little West St & 1 Pl,21678,Subscriber,1982.0,1
3,375,2018-01-01 00:06:44,2018-01-01 00:12:59,466,W 25 St & 6 Ave,325,E 19 St & 3 Ave,29822,Subscriber,1982.0,1
4,402,2018-01-01 00:06:57,2018-01-01 00:13:40,438,St Marks Pl & 1 Ave,380,W 4 St & 7 Ave S,30722,Subscriber,1989.0,1
5,326,2018-01-01 00:12:31,2018-01-01 00:17:58,453,W 22 St & 8 Ave,3258,W 27 St & 10 Ave,30447,Subscriber,1963.0,1
6,136,2018-01-01 00:13:35,2018-01-01 00:15:52,3092,Berry St & N 8 St,2002,Wythe Ave & Metropolitan Ave,32904,Subscriber,1998.0,1
7,101,2018-01-01 00:13:47,2018-01-01 00:15:29,3534,Frederick Douglass Blvd & W 117 St,3534,Frederick Douglass Blvd & W 117 St,32796,Subscriber,1988.0,1
8,475,2018-01-01 00:13:51,2018-01-01 00:21:46,336,Sullivan St & Washington Sq,237,E 11 St & 2 Ave,16628,Subscriber,1968.0,2
9,311,2018-01-01 00:14:57,2018-01-01 00:20:09,319,Fulton St & Broadway,249,Harrison St & Hudson St,30143,Subscriber,1999.0,1

In [4]:
newdf2018.dropna(how='all')
newdf2018.head(10)

,Trip_Duration,Start_Time,Stop_Time,Start_Station_ID,Start_Station_Name,Start_Station_ID,End_Station_Name,Bike_ID,User_Type,Birth_Year,Gender
0,196,2018-01-01 00:01:51,2018-01-01 00:05:07,315,South St & Gouverneur Ln,259,South St & Whitehall St,18534,Subscriber,1997.0,1
1,207,2018-01-01 00:02:44,2018-01-01 00:06:11,3224,W 13 St & Hudson St,470,W 20 St & 8 Ave,19651,Subscriber,1978.0,1
2,613,2018-01-01 00:03:15,2018-01-01 00:13:28,386,Centre St & Worth St,2008,Little West St & 1 Pl,21678,Subscriber,1982.0,1
3,375,2018-01-01 00:06:44,2018-01-01 00:12:59,466,W 25 St & 6 Ave,325,E 19 St & 3 Ave,29822,Subscriber,1982.0,1
4,402,2018-01-01 00:06:57,2018-01-01 00:13:40,438,St Marks Pl & 1 Ave,380,W 4 St & 7 Ave S,30722,Subscriber,1989.0,1
5,326,2018-01-01 00:12:31,2018-01-01 00:17:58,453,W 22 St & 8 Ave,3258,W 27 St & 10 Ave,30447,Subscriber,1963.0,1
6,136,2018-01-01 00:13:35,2018-01-01 00:15:52,3092,Berry St & N 8 St,2002,Wythe Ave & Metropolitan Ave,32904,Subscriber,1998.0,1
7,101,2018-01-01 00:13:47,2018-01-01 00:15:29,3534,Frederick Douglass Blvd & W 117 St,3534,Frederick Douglass Blvd & W 117 St,32796,Subscriber,1988.0,1
8,475,2018-01-01 00:13:51,2018-01-01 00:21:46,336,Sullivan St & Washington Sq,237,E 11 St & 2 Ave,16628,Subscriber,1968.0,2
9,311,2018-01-01 00:14:57,2018-01-01 00:20:09,319,Fulton St & Broadway,249,Harrison St & Hudson St,30143,Subscriber,1999.0,1

In [5]:
newdf2018 = newdf2018.replace(r'\\N','', regex=True)
newdf2018['Birth_Year'].replace('', pd.np.nan, inplace=True)
newdf2018.head(15)

,Trip_Duration,Start_Time,Stop_Time,Start_Station_ID,Start_Station_Name,Start_Station_ID,End_Station_Name,Bike_ID,User_Type,Birth_Year,Gender
0,196,2018-01-01 00:01:51,2018-01-01 00:05:07,315,South St & Gouverneur Ln,259,South St & Whitehall St,18534,Subscriber,1997.0,1
1,207,2018-01-01 00:02:44,2018-01-01 00:06:11,3224,W 13 St & Hudson St,470,W 20 St & 8 Ave,19651,Subscriber,1978.0,1
2,613,2018-01-01 00:03:15,2018-01-01 00:13:28,386,Centre St & Worth St,2008,Little West St & 1 Pl,21678,Subscriber,1982.0,1
3,375,2018-01-01 00:06:44,2018-01-01 00:12:59,466,W 25 St & 6 Ave,325,E 19 St & 3 Ave,29822,Subscriber,1982.0,1
4,402,2018-01-01 00:06:57,2018-01-01 00:13:40,438,St Marks Pl & 1 Ave,380,W 4 St & 7 Ave S,30722,Subscriber,1989.0,1
5,326,2018-01-01 00:12:31,2018-01-01 00:17:58,453,W 22 St & 8 Ave,3258,W 27 St & 10 Ave,30447,Subscriber,1963.0,1
6,136,2018-01-01 00:13:35,2018-01-01 00:15:52,3092,Berry St & N 8 St,2002,Wythe Ave & Metropolitan Ave,32904,Subscriber,1998.0,1
7,101,2018-01-01 00:13:47,2018-01-01 00:15:29,3534,Frederick Douglass Blvd & W 117 St,3534,Frederick Douglass Blvd & W 117 St,32796,Subscriber,1988.0,1
8,475,2018-01-01 00:13:51,2018-01-01 00:21:46,336,Sullivan St & Washington Sq,237,E 11 St & 2 Ave,16628,Subscriber,1968.0,2
9,311,2018-01-01 00:14:57,2018-01-01 00:20:09,319,Fulton St & Broadway,249,Harrison St & Hudson St,30143,Subscriber,1999.0,1
10,149,2018-01-01 00:16:03,2018-01-01 00:18:33,507,E 25 St & 2 Ave,536,1 Ave & E 30 St,16313,Subscriber,1990.0,1
11,501,2018-01-01 00:16:46,2018-01-01 00:25:07,483,E 12 St & 3 Ave,507,E 25 St & 2 Ave,27922,Subscriber,1971.0,1
12,906,2018-01-01 00:16:52,2018-01-01 00:31:58,3413,Wyckoff St & 3 Ave,3413,Wyckoff St & 3 Ave,19322,Subscriber,1986.0,1
13,101,2018-01-01 00:17:09,2018-01-01 00:18:50,146,Hudson St & Reade St,249,Harrison St & Hudson St,25576,Subscriber,1980.0,1
14,751,2018-01-01 00:17:57,2018-01-01 00:30:28,308,St James Pl & Oliver St,302,Avenue D & E 3 St,29090,Subscriber,1976.0,1

In [6]:
newdf2018.count()

Trip_Duration         718984
Start_Time            718984
Stop_Time             718984
Start_Station_ID      718984
Start_Station_Name    718984
Start_Station_ID      718984
End_Station_Name      718984
Bike_ID               718984
User_Type             718984
Birth_Year            692843
Gender                718984
dtype: int64